## Visual Studio IDE & Cache Files
.vs/
**/.vs/


## Build Outputs & Binaries
bin/
/bin/
obj/
/obj/
[Bb][Ii][Nn]/
/[Bb][Ii][Nn]/
[Oo][Bb][Jj]/
/[Oo][Bb][Jj]/

## User-specific files
*.user
**/*.user
*.userossc
*.sln.docstates